/* styles.css */
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}


/* Navigation Bar */

.nav {
  display: flex;
  color: #f9faf8;
  background-color: #007ac1;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.links p {
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
}

/* Description */

.desc{
    display: flex;
    flex-wrap: wrap;
    background-color: #ef3b24;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
}

.gamePic{
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10%;
}
.desc-text{
    flex: 1 1 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.desc-text button{
     border-radius: 15px;
  padding: 10px 20px;
  background-color: #007ac1;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Player Information */

.playerInfo{
    background-color: #002D62;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

.players div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#fdbb30 ;
    font-size: 18px;
    max-width: 180px;
}

.plrImg{
    max-width: 160px;
    width: 100%;
    max-height: 160px;
    height: 100%;
    border-radius: 10px;
    border: 3px solid black;

}

/* Player Quotes*/
.playerQuotes{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: #fdbb30;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 37px;
    color: #002D62;
    gap: 25px;
}

.playerQuotes p{
    flex: 1 1 300px;
    max-width: 500px;
}

.playerQuotes img{
    flex: 1 1 300px;
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Action */

.action{
    background-color: #b2b4b6;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:30px;
}

.action div{
    display: flex;
    flex-direction: column  ;
    max-width: 500px;
    max-height: 300px;
    height: 300px;
    width: 500px;
    border-radius: 25px;
    background-color: #007ac1;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.signButton{
    border-radius: 15px;
  padding: 10px 20px;
  background-color: #002D62;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Copy Right */

.copyRight{
    background-color: #7e8081;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: white;
}