/* styles.css */
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}


/* Navigation Bar */

.nav {
    display: flex;
    color: #F9FAF8;
    background-color: #007ac1;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.links{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.links p{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

/* Description */

.desc{
    display: flex;
    flex-direction: row;
    background-color: #ef3b24;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.gamePic{
    width: 450px;
    height: 275px;
    border-radius: 10%;
}
.desc-text{
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
    text-align: left;
    margin-right: 200px;
    align-items: center;
    text-align: center;
}

.desc-text button{
    border-radius: 15px;
    height: 50px;
    width: 125px;
    background-color: #007ac1;
    font-size: 20px;
}

/* Player Information */

.playerInfo{
    background-color: #002D62;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.players{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.players div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#fdbb30 ;
    font-size: 18px;
}

.plrImg{
    width: 160px;
    height: 180px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

/* Player Quotes*/
.playerQuotes{
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: #fdbb30;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    color: #002D62;
    gap: 25px;
}

.playerQuotes p{
    width: 500px;
    height: 250px;
}

.playerQuotes img{
    width: 450px;
    height: 225px;
    border-radius: 20px;
}

.secOne{
    background-color: #007ac1;
}

.secTwo{
    background-color: #ef3b24;
}

.secThree{
    background-color: #002D62;
}

.secFour{
    background-color: #fdbb30;
}